svg {
  overflow: visible;
  display: block;
  /* background: #eee; */
  width: 100%;
  height: 100px;
}

#root {
  align-items: stretch;
  justify-content: center;
  height: 120vh;
  padding: 0 50px 50px;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
}

button {
  width: 100px;
  border: 1px solid black;
  margin: 0 auto 5px;
}


.headertext {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
}